<div class= "header">

  <p routerLink="/" class="p-0 m-0">Wander<span>Wonder</span></p>

  <form #searchForm="ngForm" class="d-flex" (ngSubmit)="onSubmit(searchForm)">
    <input type="text" class="form-control" name="countryName" [(ngModel)]="countryName">
    <button class="search btn btn-warning me-3 pe-3 ps-3">
      Search
    </button>
  </form>

  <div class="d-flex">

    <div class="nav">
      <button routerLink="/">
        Home
      </button>
      <button routerLink="destinations">
        Destinations
      </button>
      <button>
        About
      </button>
      <button *ngIf="!isAdmin" routerLink="admin">
        Admin Panel
      </button>
      <button *ngIf="!isLoginStatus" routerLink="login">
        Log In
      </button>
      <button *ngIf="!isLoginStatus" routerLink="register">
        Register
      </button>
      <button *ngIf="isLoginStatus" (click) = "logOut()">
        Log Out
      </button>
    </div>

  </div>
</div>
