
<div class= "header">
  <p>Wander<span>Wonder</span></p>
  <div class="nav d-flex">

    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
      <input type="text" name="countryName" [(ngModel)]="countryName">
    <button class="search">
      search
    </button>
    </form>

    <button routerLink="">
      Home
    </button>
    <button routerLink="destinations">
      Destinations
    </button>
    <button>
      About
    </button>
    <button *ngIf="!isLoginStatus" routerLink="login">
      Log In
    </button>
    <button *ngIf="!isLoginStatus" routerLink="register">
      Registar
    </button>
    <button *ngIf="!isAdmin" routerLink="register">
      Admin Panel
    </button>
    <button *ngIf="isLoginStatus" (click) = "logOut()">
      Log Out
    </button>
  </div>
</div>
