.edit-from-container {
  padding: 150px;
}

.edit-from-container input {
  height: 2rem;
  border-radius: .2rem;
}
.edit-from-container label {
  color: black;
  font-size: .8rem;
  padding: 1rem 0;
}
.country-datail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.airport-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.airport-btn-group{
  display: flex;
  align-items: center;

}
.airport-detail button {
  color: #fff;
  outline: none;;
  border: none;
  padding: .4rem .2rem;
  border-radius: .3rem;
  font-size: .8rem;
  margin: 0 0 0 .3rem;
  background-color: rgb(228, 32, 22);
}
.airport-btn-group button{
  color: #fff;
  outline: none;;
  border: none;
  padding: .6rem .2rem;
  border-radius: .3rem;
  background-color: rgb(6, 179, 185);

}
