.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 999;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
}

.header p {
  color: #fff !important;
  font-size: 1.4rem;
  font-size: 300;
  cursor: pointer;
}

.header p span {
  /* color: #fff; */
  font-size: 1.4rem;
  font-size: 300;
}

.header .nav button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 1rem;
}

.header input {
  width: 25vw;
  border-radius: 2rem;
  padding-left: .5rem;
}

.header input:focus {
  outline: none;
}

.header button {
  font-size: 0.9rem;
}

.header .search {
  border-radius: 2rem;
  /* padding-left: 3rem; */
  margin-left: -2rem;
}

.login-btn {
  background-color: rgb(6, 179, 185) !important;
  border: none;
  color: #fff;
  outline: none;
  padding: .3rem .8rem !important;
  font-size: .8rem;
  border-radius: 1rem;
  text-decoration: none;
}
