<div class="hero">
  <div class="hero-image"></div>
</div>

<div class="best-place">
  <div class="container">
    <div class="images-div">
      <div class="row ">
        <div *ngFor="let destination of destinations.slice(0, 3)"
          class="col-md-4 col-12 col-lg-4">
          <div class="home-destination-card">
            <img src="../../../assets/images/{{destination.photo}}" alt="">
            <div class="details">
              <p class="mb-4">{{destination.description.slice(0, 70)}}...</p>
              <p class="head-p">{{destination.name}}</p>
              <button class="mt-4"
                routerLink="/destinations/{{destination._id}}">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="country-wise-destination">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="country-destination-box">
          <div>
            <p>Top destinations from</p>
            <h1>France</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.c</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <div class="destination-image-container">
          <div class="destination-image"
            *ngFor="let destination of topDestinations;">
            <div>
              <img src="../../../assets/images/{{destination.photo}}" alt="">
            </div>
          </div>
          <!-- <div class="destination-image">
            <div>
              <img src="../../../assets/images/listimg1.jpeg" alt="">
            </div>
          </div>
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/listimg3.jpg" alt="">
            </div>
          </div>
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/grece1.jpg" alt="">
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="catelog-detail">
  <div class="catelog-detail-overlay">
    <div class="container">
      <div class="famous-detail-head">
        <h1>World's best catalog <br> of the most popular travel destinations.</h1>
      </div>
      <div class="images-list-div">
        <div class="row">

          <div class="col-md-4 col-12 col-lg-4"
            *ngFor="let destination of destinations.slice(3, 6); let i = index;">
            <app-destination [destination]="destination"></app-destination>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
