<header class="hero">
  <div class="hero-image"></div>
</header>
<pre>{{destination |json}}</pre>

<div class="best-place">
  <div class="container ">
    <div class="images-div">
      <div class="row ">
        <div class="col-md-4 col-12 col-lg-4 ">
          <div class="bg-image">
            <img src="../../../assets/images/grece1.jpg" alt="">
            <div class="details">
              <p>{{destination[0].description}}</p>
              <p class="head-p">{{destination[0].name}}</p>
              <button>Details</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 col-lg-4 ">
          <div class="bg-image transform-y">
            <img src="../../../assets/images/grece1.jpg" alt="">
            <div class="details">
              <p>{{destination[1].description}}</p>
              <p class="head-p">{{destination[1].name}}</p>
              <button>Details</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 col-lg-4">
          <div class="bg-image">
            <img src="../../../assets/images/london.jpg" alt="">
            <div class="details">
              <p>{{destination[2].description}}</p>
              <p class="head-p">{{destination[2].name}}</p>
              <button>Details</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="country-wise-destination">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="country-destination-box">
          <div>
            <p>Top destinations from</p>
            <h1>Bangladesh</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.c</p>
            <button>Explore</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <div class="destination-image-container">
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/list4.jpg" alt="">
            </div>
          </div>
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/listimg1.jpeg" alt="">
            </div>
          </div>
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/listimg3.jpg" alt="">
            </div>
          </div>
          <div class="destination-image">
            <div>
              <img src="../../../assets/images/grece1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="catelog-detail">
  <div class="catelog-detail-overlay">
    <div class="container">
      <div class="famous-detail-head">
        <h1>World's best catalog <br> of the most popular travel destinations.</h1>
      </div>
      <div class="images-list-div">
        <div class="row">
          <div class="col-md-4 col-12 col-lg-4 ">
            <div class="desination-box">
              <div class="img-box">
                <img src="../../../assets/images/list4.jpg" alt="">
              </div>

              <div class="destination-details">
                <p class="destination-name"><span>Name : </span>Tower of London</p>
                <p class="country"><span>country : </span>London</p>
                <p class="Population"><span>Population : </span>599</p>
                <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
                <button class="description-detail">details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 col-lg-4 ">
            <div class="desination-box">
              <div class="img-box">
                <img src="../../../assets/images/listimg2.jpg" alt="">
              </div>

              <div class="destination-details">
                <p class="destination-name"><span>Name : </span>Tower of London</p>
                <p class="country"><span>country : </span>London</p>
                <p class="Population"><span>Population : </span>599</p>
                <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
                <button class="description-detail">details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 col-lg-4">
            <div class="desination-box">
              <div class="img-box">
                <img src="../../../assets/images/listimg3.jpg" alt="">
              </div>
              <div class="destination-details">
                <p class="destination-name"><span>Name : </span>Tower of London</p>
                <p class="country"><span>country : </span>London</p>
                <p class="Population"><span>Population : </span>599</p>
                <p class="description">In publishing and graphic design, Lorem ipsum is a</p>
                <button class="description-detail">details..</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
