<div class="hero">
  <div class="hero-image"></div>
</div>

<div class="best-place">
  <div class="container">
    <div class="images-div">
      <div class="row ">
        <div *ngFor="let destination of destinations.slice(0, 3)"
          class="col-md-4 col-12 col-lg-4">
          <div class="home-destination-card">
            <img src="../../../assets/images/{{destination.photo}}" alt="">
            <div class="details">
              <p class="mb-4">{{destination.description.slice(0, 70)}}...</p>
              <p class="head-p">{{destination.name}}</p>
              <button class="mt-4"
                routerLink="/destinations/{{destination._id}}">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="country-wise-destination">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="country-destination-box">
          <div>
            <p>Top destinations from</p>
            <h1 class="mb-3">Bangladesh</h1>
            <p>Discover the vibrant beauty of Bangladesh, a country known for its rich cultural heritage, stunning landscapes, and warm hospitality. Immerse yourself in the enchanting beauty of the Sundarbans, the world's largest mangrove forest, where you can spot elusive Bengal tigers and diverse wildlife species.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-8">
        <div class="destination-image-container">
          <div class="destination-image"
            *ngFor="let destination of topDestinations;">
            <div routerLink="destinations/{{destination._id}}"
              class="destination-wrapper">
              <img src="../../../assets/images/{{destination.photo}}" alt="">
              <p>{{ destination.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="catelog-detail">
  <div class="catelog-detail-overlay">
    <div class="container">
      <div class="page-title mb-5 mt-5 pt-4 pb-3">
        <p>World's best catalog <br> of the most popular travel destinations</p>
      </div>
      <div class="images-list-div">
        <div class="row">

          <div class="col-md-4 col-12 col-lg-4"
            *ngFor="let destination of destinations.slice(3, 6); let i = index;">
            <app-destination [destination]="destination"></app-destination>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
