<div class="login-container">
  <div class="login-form ">
    <h1>Sign Up</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Name:</label>
        <input type="text" formControlName="name">
        <div *ngIf="registrationForm.controls['name'].touched && registrationForm.controls['name'].errors?.['required']" class="error-message">
          Name is required.
        </div>
      </div>

      <div>
        <label>Username:</label>
        <input type="text" formControlName="username">
        <div *ngIf="registrationForm.controls['username'].touched && registrationForm.controls['username'].errors?.['required']" class="error-message">
          Username is required.
        </div>
      </div>

      <div>
        <label>Password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].errors?.['required']" class="error-message">
          Password is required.
        </div>
        <div *ngIf="registrationForm.controls['password'].errors?.['minlength']" class="error-message">
          Password should have at least 6 characters.
        </div>
      </div>

      <div>
        <label>Confirm Password:</label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="registrationForm.controls['confirmPassword'].touched && registrationForm.controls['confirmPassword'].errors?.['required']" class="error-message">
          Confirm Password is required.
        </div>
        <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['passwordMismatch']" class="error-message">
          Passwords do not match.
        </div>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>
