<div class="destination-details container row">
  <div class="destination-content col-md-12">
    <div class="row">
      
      <div class="col-md-6">
        <img src="../../../assets/images/{{destination.photo}}" alt="{{ destination.name }}">
      </div>

      <div class="col-md-6">
        
        <div class="col-md-12 description-title d-flex mb-4">
          {{ destination.name }} <p class="ms-3 add-to-fav" (click)="addToFavorite()"><span style="color: red">♥</span> Add to Favorites</p>
        </div>
        
        <table class="table">
          <tbody>
            <tr>
              <td>Description</td>
              <td>{{ destination.description }}</td>
            </tr>
            <tr>
              <td>Expenses</td>
              <td>{{ destination.expense }}</td>
            </tr>
            <tr>
              <td>Name of Country</td>
              <td>{{ destination.country.name }}</td>
            </tr>
            <tr>
              <td>Population</td>
              <td>{{ destination.country.population }}</td>
            </tr>
            <tr>
              <td>Airports</td>
              <td>
                <ul>
                  <li *ngFor="let airport of destination.airports">
                    {{ airport.name }}, {{ airport.city }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <button routerLink="/destinations"
          class="btn btn-warning mt-4">Back</button>
      </div>

    </div>
  </div>
</div>
