.destination-details table {
  width: 100% !important;
  max-width: 60rem;
}

.destination-details table td {
  vertical-align: top;
}

.destination-details table ul {
  margin: 0;
  padding: 0;
}

.destination-details img {
  width: 100%;
}

.description-title {
  font-size: 2.00rem;
}